<h1>403 Forbidden</h1>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Access denied</h4>
        <p class="card-text">You do not have permission to access this page.</p>
    </div>
    <a href="/" class="btn btn-outline-success">
        <i class="bi bi-house"></i>
        Trang chủ
    </a>
</div>