<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bình dân học vụ số</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lĩnh vực học tập
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/course/list">Tất cả khóa học</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{#each global_categories}}
                        <li><a class="dropdown-item" href="/course/list?categoryId={{categoryId}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <form class="d-flex me-5" role="search" method="get" action="/course/search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm bài học" name="q" />
                <button class="btn btn-outline-success d-flex align-items-center" type="submit">
                    <i class="bi bi-search"></i>
                    Tìm kiếm
                </button>
            </form>

            <ul class="navbar-nav mb-2 mb-lg-0">
                {{#if isAuthenticated}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Xin chào, <b>{{authUser.name}}</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/account/profile">
                                <i class="bi bi-person"></i>
                                Hồ sơ cá nhân
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/account/change-password">
                                <i class="bi bi-key"></i>
                                Đổi mật khẩu
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form id="frmSignout" action="/account/signout" method="post">
                                <button type="submit" class="dropdown-item">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Đăng xuất
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/account/signup">
                        <i class="bi bi-person-plus"></i>
                        Đăng ký
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/account/signin">
                        <i class="bi bi-person"></i>
                        Đăng nhập
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>