<form id="frmChangePassword" action="" method="post">
    <h1>Thay đổi mật khẩu</h1>
    <div class="card">
        <div class="card-body">
            {{#with user}}
            <div class="mb-3">
                <label for="txtId" class="form-label">#</label>
                <input type="text" class="form-control" id="txtId" name="id" value="{{id}}" readonly>
            </div>
            <div class="mb-3">
                <label for="txtCurrentPassword" class="form-label">Mật khẩu hiện tại</label>
                <input type="text" class="form-control" id="txtCurrentPassword" name="currentPassword" autofocus>
            </div>
            <div class="mb-3">
                <label for="txtNewPassword" class="form-label">Mật khẩu mới</label>
                <input type="text" class="form-control" id="txtNewPassword" name="newPassword">
            </div>
            <div class="mb-3">
                <label for="txtConfirmPassword" class="form-label">Xác nhận lại mật khẩu</label>
                <input type="text" class="form-control" id="txtConfirmPassword" name="confirmPassword">
            </div>
            {{/with}}
        </div>
        <button type="submit" class="btn btn-outline-success">
            <i class="bi bi-check2"></i>
            Save
        </button>
    </div>
</form>