<form id="frmProfile" action="" method="post">
    <h1>Hồ sơ cá nhân</h1>
    <div class="card">
        <div class="card-body">
            {{#with user}}
            <div class="mb-3">
                <label for="txtId" class="form-label">#</label>
                <input type="text" class="form-control" id="txtId" name="id" value="{{id}}" readonly>
            </div>
            <div class="mb-3">
                <label for="txtName" class="form-label">Name</label>
                <input type="text" class="form-control" id="txtName" name="name" value="{{name}}" autofocus>
            </div>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="txtEmail" name="email" value="{{email}}">
            </div>
            {{/with}}
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/" role="button">
                <i class="bi bi-arrow-left"></i>
                Quay lại
            </a>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-check2"></i>
                Lưu
            </button>
        </div>
    </div>
</form>