<div class="container d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <form id="frmSignup" action="" method="post">
            <div class="card">
                <h5 class="card-header">Đăng ký</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="txtUsername" class="form-label">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="txtUsername" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="txtPassword" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="txtConfirmPassword" class="form-label">Xác nhận lại mật khẩu</label>
                        <input type="password" class="form-control" id="txtConfirmPassword" name="confirmPassword">
                    </div>

                    <h5>Thông tin của bạn</h5>

                    <div class="mb-3">
                        <label for="txtName" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="txtName" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="txtPhone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="txtPhone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="txtBirthdate" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" id="txtBirthdate" name="birthdate">
                    </div>
                    <div class="mb-3">
                        <label for="txtEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp"
                            name="email">
                        <div id="emailHelp" class="form-text">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-unity"></i> Đăng ký
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{{#fillSection 'js'}}
<script>
    function handleSubmit(e) {
        e.preventDefault();
        // alert("STOP form submisstion");

        const username = document.querySelector("#txtUsername").value;
        if (username.length === 0) {
            alert("please enter username.");
            return;
        }

        const password = document.querySelector("#txtPassword").value;
        const minLength = 4;
        if (password.length < minLength) {
            alert(`Password must be at least ${minLength} characters.`);
            return;
        }

        const confirmPassword = document.querySelector("#txtConfirmPassword").value;
        if (confirmPassword !== password) {
            alert("Confirm password does not match.");
            return;
        }

        const url = `/account/is-available?username=${username}`;
        fetch(url)
            .then(function (res) {
                return res.json();
            })
            .then(function (data) {
                // alert(`user: ${username} - ${data}`);
                if (data === false) {
                    alert('Username is not available. Please choose another username');
                    return;
                }
                e.target.submit();
            })
            .catch(function (err) {
                console.log(err);
                alert('An error occurred. Please try again later.');
            })

    }

    document.querySelector("#frmSignup")
        .addEventListener("submit", handleSubmit);
</script>
{{/fillSection}}