<div class="container d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <form id="frmSignin" action="" method="post">
            <h1>Đăng nhập</h1>
            <div class="card">
                <div class="card-body">
                    {{#if error}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Lỗi</strong> Tên đăng nhập hoặc mật khẩu không hợp lệ
                    </div>
                    {{/if}}
                    <div class="mb-3">
                        <label for="txtUsername" class="form-label">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="txtUsername" name="username" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="txtPassword" name="password">
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-outline-success me-2">
                        <i class="bi bi-unity"></i> Đăng nhập
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>