<div class="card">
    <div class="card-header">Home</div>
    <div class="card-body">
        <h4 class="card-title">Welcome to home page!</h4>
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>