@import "./base/variables.css";
@import "./base/typography.css";

@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css";
@import "./components/pagination.css";
@import "./components/carousel.css";
@import "./components/navbar.css";
@import "./components/table.css";
@import "./components/footer.css";

@import "./components/courses.css";