<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-4">Về Bình dân học vụ số</h1>


            <p class="lead text-center mb-5">
                Mang tri thức số đến mọi người – dễ hiểu, gần gũi và nhân văn.
            </p>


            <div class="card p-4">
                <h4>Sứ mệnh</h4>
                <p>
                    Bình dân học vụ số được xây dựng với mục tiêu giúp mọi người,
                    đặc biệt là người lớn tuổi, học sinh và những người chưa có nhiều
                    điều kiện tiếp cận công nghệ, có thể học tập kỹ năng số một cách đơn giản và vui vẻ.
                </p>


                <h4 class="mt-4">Tầm nhìn</h4>
                <p>
                    Trở thành nền tảng học tập cộng đồng đáng tin cậy,
                    nơi ai cũng có thể học – không rào cản, không áp lực.
                </p>


                <h4 class="mt-4">Giá trị cốt lõi</h4>
                <ul>
                    <li>Thân thiện – dễ sử dụng</li>
                    <li>Lấy người học làm trung tâm</li>
                    <li>Chia sẻ tri thức vì cộng đồng</li>
                </ul>


                <h4 class="mt-4">Đội ngũ</h4>
                <p>
                    Chúng tôi là những người yêu giáo dục, công nghệ và tin rằng
                    học tập là quyền của mọi người.
                </p>
            </div>
        </div>
    </div>
</div>