<div class="card">
    <div class="card-header">Trang chủ</div>
    {{> course-section
    title="khóa học mới nhất"
    subTitle="Khám phá các khóa học mới nhất"
    courses=courses
    }}
    {{> course-section
    title="khóa học nổi bật"
    subTitle="Khám phá các khóa học nổi bật"
    courses=courses
    }}
</div>