<form id="frmAddProduct" action="" method="post">
    <div class="card">
        <div class="card-header">Thêm khóa học</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="txtCourseName" class="form-label">Khóa học</label>
                <input type="text" class="form-control" id="txtCourseName" name="name" autofocus />
            </div>
            <div class="mb-3">
                <label for="selCategoryId" class="form-label">Category</label>
                <select class="form-select" id="selCategoryId" name="categoryId">
                    {{#each global_categories}}
                    <option value="{{this.categoryId}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <label for="txtShortDes" class="form-label">Tiny Description</label>
                <input type="text" class="form-control" id="txtShortDes" name="shortDes" />
            </div>
            <div class="mb-3">
                <label for="txtLongDes" class="form-label">Full Description</label>
                <div id="editor" style="height: 200px;"></div>
                <input type="hidden" class="form-control" id="txtLongDes" name="longDes" />

            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-primary" href="/admin/course" role="button">
                <i class="bi bi-arrow-left"></i>
                Trở về
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check2"></i>
                Lưu
            </button>
        </div>
    </div>
</form>

{{#fillSection 'css'}}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
{{/fillSection}}

{{#fillSection 'js'}}
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Compose an epic...',
    });

    document.querySelector('#frmAddProduct').addEventListener('submit', function (e) {
        document.querySelector('#txtLongDes').value = quill.root.innerHTML;
    });
</script>
{{/fillSection}}